.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 0px;
  &-header {
    font-size: 24px;
    padding-bottom: 15px;
    span {
      font-style: italic;
      font-weight: 600;
    }
  }
}
